@import '../../../assets/styles/index.scss';

$paddingMenu: 4.16%;
._breadCrumbContainerOne{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

._breadCrumbtextOne{
  font-family: $helvetica;
  writing-mode: vertical-lr;
  margin-bottom: 30px;
	margin-right: 30px;
	color: $goldYellow;
	opacity: 0;
	transform: translate(30px) rotate(-180deg);
}

._mainDivContainer {
	width: 95%;
	padding-left: 5%;
}

._sectionBlack{
  background-color: $blackie;
	width: 60%;
	transform: translateX(100%);
	// height: 100vh;
	height: 100%;
  position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
}

._blackHeader {
	box-sizing: border-box;
	// top: 0;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  justify-content: space-between;
	align-items: flex-end;
	margin: 4% 0;
}

._blackHeaderHover {
  position: absolute;
  background-color: $blackie;
  width: 100%;
	height: 10vh;
  z-index: 1;
}

._icon {
  transform: rotate(180deg);
	width: 3.8%;
	align-self: start;
}

._addressText {
  font-size: 0.70rem;
  color: $white;
  margin: 0;
  line-height: 1.2;
  font-family: $helvetica;
}

._blackBody {
  height: 45%;
	// margin-top: 50px;
  // margin-bottom: -50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $white;
	opacity: 0;
	margin-right: 5%;
}

._blackBodyText{
  font-size: 2.5rem;
  font-weight: 800;
  font-family: $helveticaBold;
  line-height: 1.2;
  cursor: pointer;
  position: relative;
	color: $goldYellow;

  &:before {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 700ms ease-in-out;
    content: attr(data-hover);
	}
}

  .vertical {
    ._blackBodyText {
      &:before {
        color: $white;
        height: 100%;
      }
      &:hover:before {
        height: 0px;
      }
    }
  }

._blackBodyFooter {
  // height: 14.8%;
	// padding-left: 2.5%;
	padding-right: 6%;
  color: $white;
	text-align: right;
	// display: flex;
}

._blackBodyFooterHover {
  position: absolute;
  background-color: $blackie;
  width: 100%;
  height: 100%;
  z-index: 1;
}

._blackBodyFooterText {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: $helvetica;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

	&:before {
		position: absolute;
		bottom: -1px;
		content: "";
		display: block;
		width: 0%;
		height: 1px;
		background-color: $white;
		transition: all 0.4s;
		left:50%;
	}
}

._blackBodyFooterText:hover:before {
  width: 100%;
  left: 0;
}

._blackFooter{
	padding-right: 6%;
	padding-left: 2.5%;
}

._blackFooterLine {
	width: 85%;
  height: 1.5px;
  background-color: $white;
  // display: block;
	// margin-left: auto;
	position: absolute;
	bottom: 20%;
}

._blackFooterHover {
	position: absolute;
	background-color: $blackie;
	width: 100%;
	height: 160%;
	z-index: 1;
	bottom: 0%;
}

._container2 {
	width: 100%;
  height: 100%;
  display: flex;
	flex-wrap: wrap;
	position: relative;
	background: transparent;
}

._blackFooterContainer {
  display: flex;
  justify-content: space-between;
  color: $dirtyWhite;
  // margin-top: 5%;
	// position: relative;
	position: absolute;
	bottom: 4%;
	width: 85%;
}
._blackFooterText {
  font-size: 0.875rem;
  font-family: $helvetica;
}

._mt {
 margin-top: 15px !important;
}
._mb {
margin-bottom: 15px !important;
}
._mb-60 {
margin-bottom: 60px;
}
._lh {
  line-height: 1.5;
}


._linkStyle {
	text-decoration: none;
	color: $goldYellow;
}


