@import '../../../assets/styles/index.scss';

@mixin minerals {
  color: $white;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 3.8rem;
}

@mixin opacity {
  opacity: 0;
}

._main {
  background-color: $littleBlack;
  width: 100%;
  height: 100vh;
}

._featuredContent {
  width: 90%;
  height: 100vh;
  margin: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

._leftFeaturedContent {
  width: 50%;
}

._rightFeaturedContent {
  width: 70%;
  cursor: url('../../../assets/images/curson.svg'), 10 10 auto;
  position: relative;

}

._keywords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;

  & p {
    font-family: $montserrat;
    color: $white;
  }
}

._caseOfStudy {
  font-size: 1.1rem;
}


._textDay, ._keywordText{
  font-size: 0.9rem;
}

._leftDescription {
  width: 75%;
}

._loremText {
  color: $lightPurple;
  font-size: 1.2rem;
  font-family: $montserrat;
}

.test {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  right: -2.2rem;
  bottom: 2.3rem;
  position: absolute;

  & p {
    font-family: $montserrat;
    color: $white; 
    font-weight: bold;
  }
}

._zeroOne {
  font-family: $montserrat;
  color: $lightPurple;
  font-size: 1.7rem;
  font-weight: bold;
  @include opacity;
} 


._mineralsTitle {
  @include minerals;
  @include opacity;
}

._mineralsSubTitle {
  @include minerals;
  margin-left: 20%;
  margin-top: -0.8rem;
  @include opacity;
}

._text1, ._text2, ._text3 {
  @include opacity;
}