@import '../../../assets/styles/index.scss';

@mixin minerals {
  color: $white;
  font-family: $monumentExtended-Regular;
  font-weight: bold;
  font-size: 3.8rem;
}

@mixin opacity {
  opacity: 1;
}

._principal {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

._featuredTwoChild {
  width: 95%;
  height: 100vh;
  margin: 0% 2.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10vh;
	box-sizing: border-box;
	background-color: #ffffff;
}

._keywordsTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;

  & p {
    font-family: $helveticaBold;
    color: $white;
  }
}

._caseOfStudyTwo {
  font-size: 1.1rem;
}


._textDayTwo, ._keywordTextTwo{
  font-size: 0.9rem;
}

._leftDivFeatured {
		width: 55%;
		position: relative;
}

._imageDad {
  padding-left: 2.5%;
}

._rightDivContent {
  width: 45%;
  padding-right: 2.5%;
  display: flex;
  justify-content: flex-end;
}

._rightTextContent {
  width: 75%;
}

._mineralsTwoTitle {
  @include minerals;
  @include opacity;
}

._mineralsTwoSubTitle {
  @include minerals;
  margin-left: 20%;
  margin-top: -0.8rem;
  @include opacity;
}

._textOne, ._textTwo, ._textThree {
  @include opacity;
}

._loremTextTwo {
  color: $white;
  font-size: 1.2rem;
  font-family: $helveticaBold;
	font-weight: 600;
  // @include opacity;
}

._zeroTwo {
  font-family: $helveticaBold;
  color: $white;
  font-size: 1.7rem;
  // font-weight: bold;
	@include opacity;
	font-weight: 600;
}

._featuredToolsTwo {
	position: absolute;
	right: -3rem;

	& p {
		text-align: center;
		color: $white;
	}
}

._toolsParentTwo {
	width: 2.2rem;
	height: 2.2rem;
	margin-top: 0.7rem;
}
