$blackie:     #323031;
$pureBlack:   #000000;
$littleBlack: #2C292A;
$gray:        #929497;
$white:       #FFFFFF;
$dirtyWhite:  #E6E7E8;
$blue:        #0853DC;
$lightPurple: #A5AEFB;
$aquaGreen:   #53F8AC;
$goldYellow:  #FFD400;
$mediumGray:  #707070;
$yellow:      #FFD400;
$red:         #FF004E;
$purple:      #DC08C7;
$opacityGray: rgba(255, 255, 255, 0.3);
