$blackie:     #323031;
$pureBlack:   #000000;
$littleBlack: #2C292A;
$gray:        #929497;
$white:       #FFFFFF;
$dirtyWhite:  #E6E7E8;
$blue:        #0853DC;
$lightPurple: #A5AEFB;
$aquaGreen:   #53F8AC;
