@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet');

$universLtsTd: "UniversLTSTD";
$universLtsTd-XBlackBold: "UniversLTSTD-XBlackObl";
$universLTSTD-XBlackExObl: "UniversLTSTD-XBlackExObl";
$universLTSTD-XBlackEx: "UniversLTSTD-XBlackEx";
$universLTSTD-XBlack: "UniversLTSTD-XBlack";
$universLTSTD-UltraCn: "UniversLTSTD-UltraCn";
$universLTSTD-ThinUltraCn: "UniversLTSTD-ThinUltraCn";
$universLTSTD-LightUltraCn: "UniversLTSTD-LightUltraCn";
$universLTSTD-LightObl: "UniversLTSTD-LightObl";
$universLTSTD-LightCn: "UniversLTSTD-LightCn";
$universLTSTD-Light: "UniversLTSTD-Light";
$universLTSTD-ExObl: "UniversLTSTD-ExObl";
$universLTSTD-Ex: "UniversLTSTD-Ex";
$universLTSTD-CnObl: "UniversLTSTD-CnObl";
$universLTSTD-Cn: "UniversLTSTD-Cn";
$universLTSTD-BlackExObl: "UniversLTSTD-BlackExObl";
$universLTSTD-BlackEx: "UniversLTSTD-BlackEx";

$monumentExtended-Regular: 'MonumentExtended-Regular';
$monumentExtended-UltraBold: 'MonumentExtended-UltraBold';

$montserrat: 'Montserrat', sans-serif;
$ribes: 'Ribes-Black'
