@import '../../../assets/styles/index.scss';


._navBar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all .5s linear;
	z-index: 999;

  &._light {
    background-color: $white;

    ._navBarLogo,
    ._navBarToggle { fill: $blackie; }
  }

  &._dark {
    background-color: $blackie;

    ._navBarLogo,
    ._navBarToggle { fill: $white; }
  }

  ._navBarLogo {
    width: 10%;
  }

  ._navBarToggleWrapper {
    width: 2.2%;
		cursor: pointer;
		position: absolute;
		right: 30px;
  }
}
