._navBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  background-color: #ffffff;

  border: 1px solid #ff22ff;

  ._navBarLogo { width: 160px ;}

  ._navBarToggle {
    width: 30px;
    cursor: pointer;
  }
}