@import '../../../assets/styles/index.scss';

@mixin circle($color) {
	width: 12px;
	height: 12px;
	background-color: $color;
	border-radius: 50%;
	margin: 0px 4px 0px 4px;
}

._generalGallery {
	width: 90%;
	margin: auto;
	padding: 3% 0px 3% 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

._teamPhoto {
	width: 400px;
	height: 380px;
	background-image: url('../../../assets/images/team/portrait.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: center;
	margin: 2% 0px 2% 0px;
}

._teamDescription {
	box-sizing: border-box;
	padding:  2% 4% 2% 4%;
}

._teamList {
	list-style: none;
}

._yellowCircle {
	@include circle(#FFD400);
}

._redCircle {
	@include circle(#FF004E);
}

._purpleCircle {
	@include circle(#DC08C7);
}

._itemRow {
	display: inline-flex;
}

._circlesParent {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

