@font-face {
  font-family: "UniversLTSTD";
  src: url('../assets/fonts/Univers/UniversLTSTD.otf');
}

@font-face {
  font-family: "UniversLTSTD-XBlackObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-XBlackObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-XBlackExObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-XBlackExObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-XBlackEx";
  src: url('../assets/fonts/Univers/UniversLTSTD-XBlackEx.otf');
}

@font-face {
  font-family: "UniversLTSTD-XBlack";
  src: url('../assets/fonts/Univers/UniversLTSTD-XBlack.otf');
}

@font-face {
  font-family: "UniversLTSTD-UltraCn";
  src: url('../assets/fonts/Univers/UniversLTSTD-UltraCn.otf');
}

@font-face {
  font-family: "UniversLTSTD-ThinUltraCn";
  src: url('../assets/fonts/Univers/UniversLTSTD-ThinUltraCn.otf');
}

@font-face {
  font-family: "UniversLTSTD-LightUltraCn";
  src: url('../assets/fonts/Univers/UniversLTSTD-LightUltraCn.otf');
}

@font-face {
  font-family: "UniversLTSTD-LightObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-LightObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-LightCn";
  src: url('../assets/fonts/Univers/UniversLTSTD-LightCn.otf');
}

@font-face {
  font-family: "UniversLTSTD-Light";
  src: url('../assets/fonts/Univers/UniversLTSTD-Light.otf');
}

@font-face {
  font-family: "UniversLTSTD-ExObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-ExObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-Ex";
  src: url('../assets/fonts/Univers/UniversLTSTD-Ex.otf');
}

@font-face {
  font-family: "UniversLTSTD-CnObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-CnObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-Cn";
  src: url('../assets/fonts/Univers/UniversLTSTD-Cn.otf');
}

@font-face {
  font-family: "UniversLTSTD-BlackExObl";
  src: url('../assets/fonts/Univers/UniversLTSTD-BlackExObl.otf');
}

@font-face {
  font-family: "UniversLTSTD-BlackEx";
  src: url('../assets/fonts/Univers/UniversLTSTD-BlackEx.otf');
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url('../assets/fonts/Monument/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: "MonumentExtended-UltraBold";
  src: url('../assets/fonts/Monument/MonumentExtended-UltraBold.otf');
}

* {
  padding:0;
  margin:0;
}

@font-face {
  font-family: "Ribes-Black";
  src: url('../assets/fonts/Ribes/Ribes-Black.otf');
}

@font-face {
  font-family: "Helvetica";
  src: url('../assets/fonts/Helvetica/HelveticaNeue.ttf');
}

* {
	padding:0;
	margin:0;
  // cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAApgAAAKYB3X3/OAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFGSURBVEiJvZZBboNADEWfCWdAKIvsWRc2PUeXUU7QC3TBIbrvITgHQ3ZVeoJEUdUjVHIXGHVCBqW0TC2NBsnmf5vxfCOqypSJSAZUQAnc2Q7QAXvbnaq+T2EkE8CpiNTAAXgEVsCLEZT2vDLfQURqEUmDDKp6sYACaIEGyMf+QHxusS1QXPlHwTvgCGxvAQeItvbuLkhgmR+BzVxwD2NjGMUFAZBaibMzn6ikBVKfoAaav4J7JA1QDx2aAR8/OdAZBLlhZgl9nztVPU/18lwzLAdUCX1fu6XAPXNAmdDf0C4CQWfYnID1Ut/fO4c1cApKxZKWWCnlrcBfWAl0Cb0qxiLYDxVUEQgqw4570eJLxb+InTniybUXEG/gjCpZbGReDWpVfRORe+AJeBURRy9cHd+aNQz/ytYz8KCqn2M8sSyCtsRvyxeQKyCXMIFh9AAAAABJRU5ErkJggg=='), auto;
}

body {
	overflow-x: hidden;
}
